<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="BackupFromFolders" type="System.Configuration.NameValueSectionHandler"/>
  </configSections>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="FolderToBackUp" value="D:\Temp" />
    <add key="TimerOnShedule" value="" />
    <add key="TimerMinutesInterval" value="180" />
    <!--Hours after which backup will be deleted-->
    <add key="ObsolescenceHours" value="24"/>
  </appSettings>
  <BackupFromFolders>
    <add key="Project1" value="D:\Машина"/>
    <add key="Ringtones" value="D:\Ringtones"/>
    <add key="Тату" value="D:\Тату"/>
    <add key="Murphy" value="D:\Downloads\English books\Murphy-Essential-Grammar-in-Use-(eBook edition)-2015"/>
  </BackupFromFolders>
</configuration>